In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('pokemon.csv')

In [38]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [7]:
##slicing columns
## colon -> everything
subset = df.loc[:, ['against_dark', 'against_fire']]

In [9]:
subset.head(3)

   against_dark  against_fire
0           1.0           2.0
1           1.0           2.0
2           1.0           2.0

In [12]:
## using iloc command
## 2, 7 are column number, here integers can also be given e.g. -1 to select last column
subset = df.iloc[:, [2, 7]]

In [13]:
subset.head(3)

   against_dark  against_fire
0           1.0           2.0
1           1.0           2.0
2           1.0           2.0

In [14]:
subset = df.iloc[:, list(range(2))]
subset.head(3)

                     abilities  against_bug
0  ['Overgrow', 'Chlorophyll']          1.0
1  ['Overgrow', 'Chlorophyll']          1.0
2  ['Overgrow', 'Chlorophyll']          1.0

In [16]:
## accessing a particular cell
## to get abilities of zeroth row in 2 different ways 
print(df.loc[0, 'abilities'])
print(df.iloc[0, 0])

['Overgrow', 'Chlorophyll']
['Overgrow', 'Chlorophyll']

In [24]:
## accessing particular cells / subsetting multiple rows and columns
df.iloc[[0, 99], list(range(7))]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5
99,"['Soundproof', 'Static', 'Aftermath']",1.0,1.0,1.0,0.5,1.0,1.0

In [25]:
## MORE PREFERRED
df.loc[[0, 99], ['abilities', 'against_bug', 'against_dragon', 'against_electric', 'against_fairy']]

,abilities,against_bug,against_dragon,against_electric,against_fairy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,0.5,0.5
99,"['Soundproof', 'Static', 'Aftermath']",1.0,1.0,0.5,1.0

In [26]:
df.loc[5:14, ['abilities', 'against_bug', 'against_dragon', 'against_electric', 'against_fairy']]

,abilities,against_bug,against_dragon,against_electric,against_fairy
5,"['Blaze', 'Solar Power']",0.25,1.0,2.0,0.5
6,"['Torrent', 'Rain Dish']",1.00,1.0,2.0,1.0
7,"['Torrent', 'Rain Dish']",1.00,1.0,2.0,1.0
8,"['Torrent', 'Rain Dish']",1.00,1.0,2.0,1.0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1.0,1.0
10,['Shed Skin'],1.00,1.0,1.0,1.0
11,"['Compoundeyes', 'Tinted Lens']",0.50,1.0,2.0,1.0
12,"['Shield Dust', 'Run Away']",0.50,1.0,1.0,0.5
13,['Shed Skin'],0.50,1.0,1.0,0.5
14,"['Swarm', 'Sniper']",0.50,1.0,1.0,0.5

In [37]:
## Grouped MEAN

In [42]:
df.groupby('type1')['speed'].mean()

type1
bug         63.569444
dark        75.310345
dragon      76.111111
electric    85.410256
fairy       53.666667
fighting    64.285714
fire        73.346154
flying      99.666667
ghost       58.333333
grass       59.025641
ground      59.968750
ice         62.739130
normal      69.533333
poison      64.187500
psychic     75.150943
rock        57.422222
steel       56.583333
water       63.921053
Name: speed, dtype: float64

In [43]:
## GROUPED MEAN MULTI Group

In [44]:
df.groupby(['type1', 'type2'])['speed', 'weight_kg'].mean()

                        speed   weight_kg
type1    type2
bug      electric   63.000000   17.600000
         fairy     104.000000    0.350000
         fighting  101.666667  137.533333
         fire       80.000000   37.400000
         flying     82.692308   27.092308
         ghost      40.000000    1.200000
         grass      44.500000   11.950000
         ground     40.000000    5.500000
         poison     65.090909   38.463636
         rock       35.000000   78.333333
         steel      68.600000   78.460000
         water      61.666667   40.566667
dark     dragon     59.250000  278.825000
         fighting   53.000000   20.900000
         fire       90.000000   22.900000
         flying     80.200000   56.180000
         ghost      20.000000   11.000000
         ice       120.000000   31.000000
         psychic    59.000000   25.250000
         steel      65.000000   40.100000
dragon   electric   90.000000  345.000000
         fighting   75.000000   62.600000
         fire       90.000000  330.000000
         flying     98.750000  134.925000
         ground     75.250000  114.025000
         ice        95.000000  325.000000
         psychic   110.000000   50.000000
electric electric  110.000000         NaN
         fairy     115.500000   11.350000
         flying    101.333333   39.533333
...                       ...         ...
rock     grass      33.000000   42.100000
         ground     43.666667  144.666667
         ice        52.000000  125.100000
         poison    103.000000   55.500000
         psychic    70.000000  161.000000
         steel      33.333333  182.166667
         water      57.166667   36.916667
steel    dragon     90.000000  683.000000
         fairy      63.333333   31.666667
         fighting  108.000000  250.000000
         flying     65.500000  525.200000
         ghost      41.000000   19.833333
         ground     30.000000  400.000000
         psychic    57.666667  182.716667
         rock       40.000000  180.000000
water    bug        34.500000   43.000000
         dark       89.250000   45.600000
         dragon     92.500000  244.000000
         electric   67.000000   17.250000
         fairy      58.750000   25.550000
         fighting   89.000000   51.250000
         flying     72.000000   83.885714
         ghost      50.000000   84.000000
         grass      50.000000   30.033333
         ground     52.444444   36.422222
         ice        66.666667  157.500000
         poison     85.000000   34.800000
         psychic    56.400000   58.600000
         rock       36.000000   31.475000
         steel      60.000000   84.500000

[148 rows x 2 columns]

In [47]:
##Flatten Dataframe
df.groupby(['type1', 'type2'])['speed', 'weight_kg'].mean().reset_index().head(15)

   type1     type2       speed   weight_kg
0    bug  electric   63.000000   17.600000
1    bug     fairy  104.000000    0.350000
2    bug  fighting  101.666667  137.533333
3    bug      fire   80.000000   37.400000
4    bug    flying   82.692308   27.092308
5    bug     ghost   40.000000    1.200000
6    bug     grass   44.500000   11.950000
7    bug    ground   40.000000    5.500000
8    bug    poison   65.090909   38.463636
9    bug      rock   35.000000   78.333333
10   bug     steel   68.600000   78.460000
11   bug     water   61.666667   40.566667
12  dark    dragon   59.250000  278.825000
13  dark  fighting   53.000000   20.900000
14  dark      fire   90.000000   22.900000

In [48]:
## nunique -> to get unique count on a Pandas Series
df.groupby('generation')['type1'].nunique()

generation
1    15
2    16
3    16
4    17
5    17
6    17
7    16
Name: type1, dtype: int64